<h1>This is a fucking hello page</h1>

<% target = "fucker" %>

<%= "Hello #{target}"%>

<% @array.each do |n| %>
  <%=n %>
  <% end %>

<a href="/demo/hello"> Hello Page 1 </a>
<%= link_to('Hello Page 2', {:action => 'index'}) %>